{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block title %}
Login
{{ block.super }}
{% endblock title %}

{% block content %}
<div class="max-w-md w-full bg-gray-100 p-6 border rounded-lg">

        <h1 class="text-2xl font-bold mb-4 text-center">Sign In</h1>
        <p class="text-center mb-6">
                If you have not created an account yet <br> then please
                <a href="{% url 'account_signup' %}" class="text-blue-500 hover:underline">sign up
                </a>first.
        </p>
        <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="mb-4">
                        {% if form.login.errors %}
                        {% for error in form.login.errors %}
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
                                <strong class="font-bold">Error:</strong>
                                <ul class="list-disc pl-5">
                                        <li>{{ error }}</li>
                                </ul>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="id_login" class="block text-sm font-medium text-gray-700">Email
                        </label>
                        {% render_field form.login class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm                        p-2" field="email" %}
                </div>
                <div class="mb-4">

                        <label for="id_password" class="block text-sm font-medium text-gray-700">Password
                        </label>
                        {% render_field form.password class="mt-1 block w-full border border-gray-300 rounded-md                        shadow-sm p-2" field="password" %}
                </div>
                <button type="submit"
                        class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Login
                </button>
        </form>
        <p class="text-center mt-4 text-sm text-gray-600">
                <a href="{% url 'account_reset_password' %}" class="text-blue-500 hover:underline">Forgot Password?
                </a>
        </p>
</div>
{% endblock %}