django-browser-reload
Django
django-allauth[socialaccount]
django-widget-tweaks
channels[daphne]
Pillow
langchain
langchain-community
langchain-core
langchain-ollama
faiss-cpu
python-dotenv
duckduckgo-search
langchain-groq